extends layout

block content
  div.View.WelcomeView
    h1.Banner MyLocalLibraly
    div.Message
      div.Title
        h3 Making it easier for readers.
        h1 Information resource for readers
      span.Details Access MyLocal-Library readers' Portal
  div.NavButtons
    if isAuthenticated
      a(href="/users")
        div.NavButton Just in!
    else
      a(href="/login")
        div.NavButton Log in
